<!-- MAIN (Center website) -->
<div class="main">

<h1>MYLOGO.COM</h1>
<hr>

<h2>PORTFOLIO</h2>
<p>Luis Felipe Arias.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column">
    <div class="content">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQs_7PMId584r9QeuHuSH5fIEZtxeM-hgz4aTa6E0hBpZEBv_bl" alt="Mountains" style="width:100%">
      <h3>Software development</h3>
      <p>Here I am developing.</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRriHgqD3l6EFKEVf5l2IiPjk2j48tM6cEqFQ0EGZE2xtDX7Fps" alt="Nature" style="width:100%">
      <h3>Testing</h3>
      <p>Here I am testing.</p>
    </div>
  </div>
</div>


<!-- END MAIN -->
</div>
